name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Build with container image to avoid slow tool installs into the
    # GitHub runner itself and with integrated caching to speed up rebuilds.
    - name: Build Docker Image
      uses: docker/build-push-action@v6
      with:
        file: Containerfile
        cache-from: type=gha
        cache-to: type=gha,mode=max
